/*
* COLOR PALETTE
* 
* cta/link blue:			#4a74c9
* light gray borers:		#c6c4c4
* white background: 		#fcfcfc
*/

/* ---- GLOBAL ---- */
* {
	box-sizing: border-box;
	color: #3d3e3f;
	font-family: 'Raleway', sans-serif;
}

/* ---- STANDARD ELEMENTS ---- */
body {
	padding: 2rem 3rem;
	background-color: #eaeaea;
}
	@media screen and (max-width: 59.375rem) {
		body {
			padding: 1rem 0.5rem;
		}
	}
p {
	line-height: 1.6;
	padding-bottom: 0.5rem;
}
a {
	text-decoration: underline;
	color: #4a74c9;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
h1 {
	font-size: 3rem;
	padding: 2rem 0;
}
h2 {
	font-size: 2.3rem;
	padding: 1.75rem 0;
}
h3 {
	font-size: 1.8rem;
	padding: 0 0 1.5rem 0;
}
h4 {
	font-size: 1.3rem;
	padding: 1.2rem 0;
}
h5 {
	font-size: 1rem;
	padding: 1rem 0;
}

/* ---- COL LAYOUT ---- */
[class^="col"] {
	padding: 2.5%;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}
.col1 {
	width: 100%;
	padding: 0 10%;
	margin: 0 auto;
}
.col2 {
	width: calc(100%/2.05);
}
	.col2-lg {
		width: 69%;
	}
	.col2-sm {
		width: 30%;
	}
.col3 {
	width: calc(100%/3.1);
}
.col4 {
	width: calc(100%/4.1);
}

/* all cols become max width at 800px */
@media screen and (max-width: 50rem) {
	[class^="col"] {
		display: block;
		width: 100%
	}
}

/* ---- BUTTONS ---- */
input[type="submit"],
input[type="reset"] {
	background-color: #4a74c9;
	color: #ffffff;
	border: 1px solid #ffffff;
	cursor: pointer;
}

/* ---- FORM ---- */
form div {
	display: table-row;
}
fieldset {
	border: 1px solid #c6c4c4;
	padding: 0.5em;
}
label, input, select {
	display: table-cell;
	margin-bottom: 0.75rem;
}
label {
	padding-right: 3rem;
}
textarea {
	display: block;
	background-color: #fcfcfc;
	border: 1px solid #c6c4c4;
}
input[type="checkbox"] {
	width: 20px;
}

/* ---- BORDERS ---- */
.border-rt-gray {
	border-right: 1px solid #c6c4c4;
}
	@media screen and (max-width: 50rem) {
		.border-rt-gray {
			border-right: none;
			border-bottom: 1px solid #c6c4c4;
		}
	}

/* ---- PADDING/MARGIN ---- */
.pb-025 {
	padding-bottom: 0.25rem;
}
.pb-05 {
	padding-bottom: 0.5rem;
}
.pt-0 {
	padding-top: 0;
}
.pl-0 {
	padding-left: 0;
}

.mb-075 {
	margin-bottom: 0.75rem;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mr-1 {
	margin-right: 1rem;
}

/* ---- FONT ---- */
.bold {
	font-weight: bold;
}
.light {
	font-weight: 100;
	color: #96989b;
}

/* ---- ALIGNMENT ---- */
.rt {
	text-align: right;
}
	@media screen and (max-width: 50rem) {
		.rt {
			text-align: left;
		}
	}

/* ---- SPECIAL ELEMENTS ---- */
.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.visually-hidden:focus {
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	background-color: #fff2a8;
	color: #990000;
}

/* ---- OBJECTS ---- */
/* box */
.box-hard {
	padding: .5rem;
	border: 2px solid #cecece;
	max-width: 500px;
	background-color: #fcfcfc;
}
/* rounded box */
.box-soft {
	padding: .5rem;
	border: 1px solid #cecece;
	border-radius: .15rem;
	box-shadow: 0px 0px 2px 0px #cecece;
	background-color: #fcfcfc;
}
.box-soft p {
	font-size: .8rem;
}
.box-soft-round {
	border-radius: 50px;
	padding: 1.5rem 1rem;
	border: 1px solid #cecece;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 0px #cecece;
}

/* ---- CLASS SPECIFIC ---- */
.wrapper {
	padding-bottom: 5rem;
}
label.req:after {
	content: "required";
	font-style: italic;
	color: #96989b;
	font-size: 0.8rem;
}
.more {
	font-style: italic;
}

















